extends ../../includes/layout
block main-content
    .col-lg-10.text-right.col-lg-offset-1
        h3.text-left
            = subcategory.name
        hr
        table.col-lg-12
            thead.text-left
                tr
                    td.thead.text-right(colspan='5')
                        .btn.btn-success
                            a(href='/forum/topics/add') Нова Тема

            tbody
                tr
                    td.tcat.text-left(colspan='1')
                        span.smalltext
                            strong Тема

                    td.tcat(width='85', align='center', style='white-space: nowrap')
                        span.smalltext
                            strong Автор
                    td.tcat(width='85', align='center', style='white-space: nowrap')
                        span.smalltext
                            strong Коментари

                each item, i in subcategory.topics
                    if i % 2 === 0
                        tr
                            td.trow1.text-left.topicName
                                strong
                                    a(href='/forum/topic/#{item}')
                                        = item
                            td.trow1(align='center', style='white-space: nowrap')
                                |= item.firstName

                            td.trow1(align='center', style='white-space: nowrap')
                                |= item.registerDate
                    else
                        tr
                            td.trow2.text-left.topicName
                                strong
                                    a(href='/forum/topic/#{item}')
                                        = item
                            td.trow2(align='center', style='white-space: nowrap')
                                |= item.firstName

                            td.trow2(align='center', style='white-space: nowrap')
                               | = item.registerDate
        .row
            .col-lg-offset-1.col-lg-10
                if paginate.hasPreviousPages || paginate.hasNextPages(10)
                    .navigation.well-sm#pagination.col-lg-12
                        ul.pager
                            if paginate.hasPreviousPages
                                li.previous
                                    a(href=paginate.href(true)).prev
                                        |  Назад
                            if pages
                                each page in pages
                                    a.pageButtons.btn.btn-primary(href=page.url)= page.number
                            if paginate.hasNextPages(10)
                                li.next
                                    a(href=paginate.href()).next
                                        | Напред